.title{
  font-family: Impact;
  font-size: 58px;
  letter-spacing: 1px;
  word-spacing: 0px;
  color: #b85412;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  }

.button{
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  display: grid;
  margin: auto;
  background: #ed0e0e;
  background-image: -webkit-linear-gradient(top, #ed0e0e, #b88b2b);
  background-image: -moz-linear-gradient(top, #ed0e0e, #b88b2b);
  background-image: -ms-linear-gradient(top, #ed0e0e, #b88b2b);
  background-image: -o-linear-gradient(top, #ed0e0e, #b88b2b);
  background-image: linear-gradient(to bottom, #ed0e0e, #b88b2b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #db1818;
  text-decoration: none;
}